:root {
  --header-height: 80px;
  --menu-width: 60px;
  --m-header-hight: 180px;

  /* color */
  --bg-white: #fff;
  --bg-grey: #e5e5e5;
  --bg-light-gray: #f7f7f7;
  --bg-darkgray: rgb(122, 122, 122);
  --bg-yellow-orange: #ff8f00;
  --bg-yellow: #ffc107;
  --bg-red: #dc3545;
  --bg-blue: #1b72e8;
  --bg-blue-secondary: #165bba;
  --bg-green: #198754;
}

/* RESET */
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* COMMON */
/* wrapper */

.ms_wrapper {
  height: 100vh;
  width: 100%;
  /* debug */
  background-color: lightblue;
}

.ms_yellow-orange {
  color: var(--bg-yellow-orange);
}

.ms_darkgray {
  color: var(--bg-darkgray);
}

.ms_bg-l-gray {
  background-color: var(--bg-light-gray);
}

.ms_bg-white {
  color: var(--bg-white);
}

/* HEADER */
.ms_header {
  height: var(--header-height);
  width: 100%;
  /* debug */
  background-color: var(--bg-white);
}

.ms_logo {
  height: calc(var(--header-height) - 15px);
}

.ms_searchbar {
  padding: 0.4rem 0.2rem;
  background-color: var(--bg-grey);
  border-radius: 10px;
}

.ms_serachbar-input {
  border: none;
  background-color: var(--bg-grey);
}

/* MAIN */
.ms_main {
  width: 100%;
  height: calc(100vh - var(--header-height));

  /* debug */
}

/* Menu */
.ms_menu {
  height: 100%;
  width: var(--menu-width);

  /* debug */
  background: url(../img/sidebar-bg.png);
  background-position-y: -50px;
  background-color: #051e34;
}

.ms_menu ul li {
  padding-top: 0.8rem;
}

/* Main content */
.ms_main-content {
  height: 100%;
  width: calc(100% - var(--menu-width));
  overflow-y: auto;

  /* debug */
  background-color: darkcyan;
}

/* m-header */

.ms_main-header {
  /* debug */
  background-color: var(--bg-blue);
  min-height: var(--m-header-hight);
}

.ms_plus-icon {
  padding: 0.6rem;
  border: 1px solid var(--bg-white);
  border-radius: 5px;
}

.ms_label {
  height: 20px;
  width: 90px;
  line-height: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: var(--bg-blue-secondary);
  font-size: 0.8rem;
  display: inline-block;
  vertical-align: baseline;
}

.ms_w-3 {
  width: 30px;
}

.ms_w-6 {
  width: 60px;
}
/* content */

.ms_content {
  height: calc(100% - var(--m-header-hight));
}

/* Table */

table td img {
  width: 20px;
}

th,
td {
  padding: 15px;
}
table tr {
  border-bottom: 1px solid var(--bg-light-gray);
  margin-bottom: 1rem;
}

table td button {
  text-decoration: none;
  color: var(--bg-darkgray);
  border: 1px solid var(--bg-darkgray);
  background-color: var(--bg-white);
}

.ms_ticket {
  color: var(--bg-white);
  display: inline-block;
  width: 4em;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 30px;
  font-size: 0.8rem;
}

.ms_bg-green {
  background-color: var(--bg-green);
}

.ms_bg-yellow {
  background-color: var(--bg-yellow);
}

.ms_bg-red {
  background-color: var(--bg-red);
}

.card h2 {
  border-bottom: 1px solid var(--bg-grey);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* Todo */

.ms_todo-list {
  border: 1px solid var(--bg-grey);
  border-radius: 10px;
  padding: 0.5rem 0.2rem;
}

.ms_todo-list label {
  font-size: 0.8rem;
}

.ms_todo-list li {
  padding: 0.3rem;
}

.ms_border-b {
  border-bottom: 1px solid var(--bg-grey);
}
