:root {
  --header-height: 80px;
  --menu-width: 100px;
  --m-header-hight: 180px;

  /* color */
  --bg-grey: #e5e5e5;
  --bg-yellow-orange: #ff8f00;
}

/* RESET */
img {
  max-width: 100%;
}

/* COMMON */
/* wrapper */

.wrapper {
  height: 100vh;
  width: 100%;
  /* debug */
  background-color: lightblue;
}

/* HEADER */
.header {
  height: var(--header-height);
  width: 100%;
  /* debug */
  background-color: darkslategray;
}

.logo {
  width: 50px;
}

.ms_bg-grey {
  background-color: var(--bg-grey);
}

.ms_yellow-orange {
  color: var(--bg-yellow-orange);
}

/* .ms_translate-y {
  transform: translateY(50%);
} */
/* MAIN */
.main {
  width: 100%;
  height: calc(100vh - var(--header-height));

  /* debug */
  background-color: lightgreen;
}

/* Menu */
.menu {
  height: 100%;
  width: var(--menu-width);

  /* debug */
  background-color: lightskyblue;
}

/* Main content */
.main-content {
  height: 100%;
  width: calc(100% - var(--menu-width));
  overflow-y: auto;

  /* debug */
  background-color: darkcyan;
}

/* m-header */

.m-header {
  /* debug */
  background-color: lightblue;
  min-height: var(--m-header-hight);
}

/* content */

.content {
  height: calc(100% - var(--m-header-hight));

  /* debug */
  background-color: blueviolet;
}
